* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --clr: #2196f3;
}

body,
html {
  background: var(--clr);
  width: 100%;
  height: 100%;
}

.welcome,
.login {
  width: 100%;
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.login-template {
  background: #fff;
  max-width: 700px;
  width: 80%;
  padding: 20px;
}

fieldset {
  border: 2px groove var(--clr) !important;
  padding: 40px;
}

legend.legend-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

/*--- responsive ---*/
@media (max-width: 576px) {
  .login-template {
    width: 100%;
  }
}
